{% block body %}
<div class="d-flex justify-content-between align-items-start mt-2 mb-3">
    <!-- Infos -->
    <div>
        <span class="display-4 font-weight-bold">All Automoderations({{ autoModerations.count|default(0) }})</span>
    </div>
    <!-- Buttons -->
    <div class="d-flex flex-column align-self-end">
    {% if guild|default %}
        {% if guild.id in basic_data.loggedInUser.adminGuilds or basic_data.loggedInUser.isAdmin %}
                <a type="button" class="btn btn-success" href="/automoderations/{{ guild.id }}">Configure</a>
        {% endif %}
    {% endif %}
    </div>
</div>
<div class="container p-3 moderations">
    {% if autoModerations.count|default(0) == 0 %}
        <div class="card rounded mb-3">
            <div class="card-body">
                <h4 class="card-title"><a>Nothing here.</a></h4>
                <p class="card-text">There are no moderated events.</p>
            </div>
        </div>
    {% endif %}
    <div id="loadMoreData">
        <div class="d-flex" style="align-items: center">
                <span class="flex-shrink-1 mr-3" style="font-size: 20px;">
                    The end
                </span>
            <hr class="spacer-type1 flex-grow-1"/>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" onclick="loadMoreData()">
                Load even more data
            </button>
        </div>
    </div>
</div>
{% endblock body %}

{% block scriptblock %}
{% verbatim %}
<script id="table-row-template" type="text/x-handlebars-template">
<div class="moderation mb-2 p-3 d-flex flex-column"
     data-target="#collapse-{{ id }}"
     onclick="collapse(this)" >
    <div class="d-flex flex-row" style="align-items: center">
        <i class="{{ icon }} mr-2"></i>
        <span>{{ username }}#{{ discriminator }}
            <span class="text-black-50">({{ userId }})</span>
            <span style="color: red">{{ autoModerationTypeDescription }}.</span>
            <span>{{ autoModerationActionDescription }}.</span>
        </span>
        <div class="flex-grow-1"></div>
        {{#if (isdefined associatedCaseId)}}
            <a href="/modcases/{{ guildId }}/{{ associatedCaseId }}"
                target="_blank" >
                <span class="badge bg-primary">See case</span>
            </a>
        {{/if}}
    </div>
    <div class="collapse" id="collapse-{{ id }}">
        <div class="ml-3 mt-3">
            <i class="fas fa-quote-right fa-2x"></i> <span>{{ messageContent }}</span>

            <hr/>
            <div class="d-flex flex-row">
                <small class="text-black-50">MessageId: {{ messageId }}</small>
                <div class="flex-grow-1"></div>
                <small class="text-black-50">Timestamp: {{ createdAtFormat }}</small>
            </div>
        </div>
    </div>
</div>
</script>
<script id="table-row-header-template" type="text/x-handlebars-template">
<div class="d-flex" style="align-items: center">
    <span class="flex-shrink-1 mr-3" style="font-size: 20px;">
        {{ createdAtShortFormat }}
    </span>
    <hr class="spacer-type1 flex-grow-1"/>
</div>
</script>
{% endverbatim %}
<script>
    var currentPage = 0;
    var row_template;
    var header_template;
    var lastDate = null;
    $(document).ready(function () {
        Handlebars.registerHelper('isdefined', function (value) {
            return value != null;
        });

        let source = $("#table-row-template").html();
        let sourceH = $("#table-row-header-template").html();
        row_template = Handlebars.compile(source);
        header_template = Handlebars.compile(sourceH);

        initialData = {{ autoModerations|json_encode|raw }};
        appendEvents(initialData);
    });

    function collapse(item) {
        $(item).toggleClass('moderation-big');
        $($(item).attr('data-target')).collapse('toggle');
    }

    function loadMoreData() {
        $.ajax({
            type: "GET",
            url: "/api/v1/guilds/{{ guild.id }}/automoderations?startPage=" + (currentPage + 1),
            success: function (data) {
                currentPage++;
                appendEvents(data);
            },
            error: function (errMsg) {
                handleRequestError(errMsg, "Loading data failed")
            }
        });
    }

    iconsMap = {
        0: 'fas fa-link'
    };

    eventsMap = {
        0: 'posted an invite'
    };

    actionsMap = {
        0: 'No action was taken',
        1: 'Content deleted',
        2: 'Case created',
        3: 'Content deleted and case created'
    }

    function appendEvents(data) {
        data["events"].forEach(element => {
            let createdAt = new Date(element["createdAt"]);
            element["createdAtFormat"] = createdAt.format("dd.mm.yyyy HH:MM:ss");
            element["createdAtShortFormat"] = createdAt.format("dd.mm.yyyy");
            element["autoModerationActionDescription"] = actionsMap[element["autoModerationAction"]];
            element["autoModerationTypeDescription"] = eventsMap[element["autoModerationType"]];
            element["icon"] = iconsMap[element["autoModerationType"]];

            if (lastDate == null || createdAt.getDate() !== lastDate.getDate()) {
                $(header_template(element)).insertBefore('#loadMoreData');
            }

            $(row_template(element)).insertBefore('#loadMoreData');
            lastDate = createdAt;
        })

        if ($('.moderation').length >= data["count"] ) {
            $('#loadMoreData').css("display", "none");
        }
    }
</script>
{% endblock scriptblock %}
