{% extends 'base.html.twig' %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-start">
            <h3><span class="badge badge-danger">Register a new guild</span></h3>
        </div>
        <br>
        {{ form_start(form) }}
        <div class="md-form">
            {{ form_row(form.guildid) }}
        </div>
        <div class="md-form">
            {{ form_row(form.modroleid) }}
        </div>
        <div class="md-form">
            {{ form_row(form.adminroleid) }}
        </div>
        <div class="md-form">
            {{ form_row(form.modPublicNotificationWebhook) }}
        </div>
        <div class="md-form">
            {{ form_row(form.modInternalNotificationWebhook) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock body %}