{% extends 'base.html.twig' %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-start">
            <h3><span class="badge badge-success">Register new guild</span></h3>
        </div>
        {% if guilds|default %}
            <select class="browser-default custom-select mb-2" id="form-guildselect">
                <option selected>Select a guild</option>
                {% for guild in guilds %}
                    <option value="{{ guild.id }}">
                        {{ guild.name }}
                    </option>
                {% endfor %}
            </select>
            <div class="card m-3" id="form-guild" style="display: none">
                <div class="card-body d-flex flex-row">
                    <div class="align-self-start mr-3">
                        <img
                                src=""
                                class="card-img rounded-circle z-depth-0 mr-1"
                                alt="avatar icon"
                                height="35"
                                style="width: unset"
                                id="form-guild-img"
                        />
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="card-title" id="form-guild-title"></h4>
                        <span class="card-text" id="form-invite" style="display: none">
                            You need to invite the bot to this guild before you can register it. Please refresh the site after you did so.<br/>
                            <a href="https://discord.com/oauth2/authorize?client_id={{ client_id.clientid }}&permissions=268435462&scope=bot&guild_id=replace-guild-id"
                                id="form-invite-link" target="_blank">
                                <button type="button" class="btn btn-primary">Invite link</button>
                            </a>
                            <button type="button" class="btn btn-primary" onclick="on_guildselect_change()">Refresh</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" id="form-roles" style="display: none">
                <label for="form-mod-role" id="form-mod-label-role">Moderator Role</label>
                <select class="browser-default custom-select m-3" id="form-mod-role" style="display: none"></select>
                <label for="form-admin-role" id="form-admin-label-role">Admin Role</label>
                <select class="browser-default custom-select m-3" id="form-admin-role" style="display: none"></select>
                <label for="form-muted-role" id="form-muted-label-role">Muted Role for punishment</label>
                <select class="browser-default custom-select m-3" id="form-muted-role" style="display: none"></select>
            </div>
            <div id="form-webhooks" style="display: none">
                <label for="form-webhook-public">OPTIONAL: Webhook URL: public notification</label>
                <input type="text" id="form-webhook-public" class="form-control m-2">
                <label for="form-webhook-internal">OPTIONAL: Webhook URL: internal notification</label>
                <input type="text" id="form-webhook-internal" class="form-control m-2">
            </div>
            <button type="button" class="btn btn-success" id="form-submit" onclick="submitGuild(this)" style="display: none">
                Register guild
            </button>
        {% endif %}
    </div>
{% endblock body %}
{% block scriptblock %}

    <script>
        function intToColor(val) {
            if (val === 0) {
                return '#000000';
            }
            return '#' + val.toString(16);
        }

        var guilds;
        var token;
        $(document).ready(function() {
            guilds = {{ guilds|json_encode|raw }};
            token = "{{ basic_data.token|raw }}";

            let urlParams = new URLSearchParams(window.location.search);
            let guildid = urlParams.get('guildid');
            if (guildid) {
                $('#form-guildselect').val(guildid);
            }

            on_guildselect_change();
        });

        function on_guildselect_change() {
            let selectedGuild = $('#form-guildselect').val();

            if (!isNaN(selectedGuild)) {
                let invitelink = $('#form-invite-link').attr('href');
                var lastIndex = invitelink.lastIndexOf('=');
                invitelink = invitelink.substr(0, lastIndex + 1);
                $('#form-invite-link').attr('href', invitelink + selectedGuild);

                $.ajax({
                    type: "GET",
                    url: "/api/v1/discord/guilds/" + selectedGuild,
                    success: function (data) {
                        let modRoles = $('#form-mod-role');
                        let adminRoles = $('#form-admin-role');
                        let mutedRoles = $('#form-muted-role');
                        $('#form-mod-role option').remove();
                        $('#form-admin-role option').remove();
                        $('#form-muted-role option').remove();
                        modRoles.append('<option selected>Moderator role</option>');
                        adminRoles.append('<option selected>Admin role</option>');
                        mutedRoles.append('<option selected>Muted role for punishment</option>');
                        $.each(data['roles'], function(i, val) {
                            modRoles.append(
                                $('<option></option>').text(val['name']).attr('value', val['id']).attr('style', 'color:'+intToColor(val['color']))
                            );
                            adminRoles.append(
                                $('<option></option>').text(val['name']).attr('value', val['id']).attr('style', 'color:'+intToColor(val['color']))
                            );
                            mutedRoles.append(
                                $('<option></option>').text(val['name']).attr('value', val['id']).attr('style', 'color:'+intToColor(val['color']))
                            );
                        });

                        $('#form-guild-img').attr('src', 'https://cdn.discordapp.com/icons/' + selectedGuild + '/' + data['icon'] + '.png');
                        $('#form-guild-img').css("display", "block");
                        $('#form-guild-title').text(data['name']);
                        $('#form-guild').css("display", "block");
                        $('#form-invite').css("display", "none");
                        $('#form-roles').css("display", "block");
                        $('#form-mod-label-role').css("display", "block");
                        $('#form-mod-role').css("display", "block");
                        $('#form-admin-label-role').css("display", "none");
                        $('#form-admin-role').css("display", "none");
                        $('#form-muted-label-role').css("display", "none");
                        $('#form-muted-role').css("display", "none");
                        $('#form-webhooks').css("display", "none");
                        $('#form-submit').css("display", "none");
                    },
                    error: function (errMsg) {
                        $('#form-mod-role option').remove();
                        $('#form-admin-role option').remove();

                        $('#form-roles').css("display", "none");
                        $('#form-mod-label-role').css("display", "none");
                        $('#form-mod-role').css("display", "none");
                        $('#form-admin-label-role').css("display", "none");
                        $('#form-admin-role').css("display", "none");
                        $('#form-muted-label-role').css("display", "none");
                        $('#form-muted-role').css("display", "none");
                        $('#form-webhooks').css("display", "none");
                        $('#form-submit').css("display", "none");

                        $('#form-guild').css("display", "block");
                        $('#form-guild-img').css("display", "none");
                        $('#form-invite').css("display", "block");

                        handleRequestError(errMsg, "Fetching further guild info failed")
                    }
                });
            } else {
                $('#form-mod-role option').remove();
                $('#form-admin-role option').remove();

                $('#form-guild').css("display", "none");
                $('#form-roles').css("display", "none");
                $('#form-mod-label-role').css("display", "none");
                $('#form-mod-role').css("display", "none");
                $('#form-admin-label-role').css("display", "none");
                $('#form-admin-role').css("display", "none");
                $('#form-muted-label-role').css("display", "none");
                $('#form-muted-role').css("display", "none");
                $('#form-webhooks').css("display", "none");
                $('#form-submit').css("display", "none");
            }
        }

        $('#form-guildselect').change(on_guildselect_change);

        $('#form-mod-role').change(function() {
            let modRole = $(this).val();
            if (!isNaN(modRole)) {
                $('#form-admin-label-role').css("display", "block");
                $('#form-admin-role').css("display", "block");
                $('#form-muted-label-role').css("display", "block");
                $('#form-muted-role').css("display", "block");
            } else {
                $('#form-admin-label-role').css("display", "none");
                $('#form-admin-role').css("display", "none");
                $('#form-muted-label-role').css("display", "none");
                $('#form-muted-role').css("display", "none");
                $('#form-webhooks').css("display", "none");
                $('#form-submit').css("display", "none");
            }
        });

        $('#form-admin-role').change(function() {
            let adminRole = $(this).val();
            if (!isNaN(adminRole)) {
                $('#form-webhooks').css("display", "block");
                $('#form-submit').css("display", "block");
            } else {
                $('#form-webhooks').css("display", "none");
                $('#form-submit').css("display", "none");
            }
        });

        $('#form-muted-role').change(function() {
        });

        function submitGuild(button) {
            let iWebhook = $('#form-webhook-internal').val();
            let pWebhook = $('#form-webhook-public').val();
            let mRole = $('#form-muted-role').val();
            let obj = {
                'guildid': $('#form-guildselect').val(),
                'modroleid': $('#form-mod-role').val(),
                'adminroleid': $('#form-admin-role').val(),
                'mutedroleid': mRole === "Muted role for punishment" ? null : mRole,
                'modInternalNotificationWebhook': iWebhook ? iWebhook : null,
                'modPublicNotificationWebhook': pWebhook ? pWebhook : null,
            };
            $.ajax({
                type: "POST",
                url: "/api/v1/guilds/",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    location.href = '/modcases/' + obj['guildid'];
                },
                error: function (errMsg) {
                    if (errMsg.status === 201) {  // created
                        location.href = '/modcases/' + obj['guildid'];
                        return;
                    }
                    handleRequestError(errMsg, "Registering guild failed");
                }
            });
        }

    </script>
{% endblock scriptblock %}
