{% block body %}
    <div class="d-flex flex-column flex-wrap justify-content-between mt-2">
        {% if modcase.comments|default %}
            {% for comment in modcase.comments|default([]) %}
                <div class="card mb-3">
                    <div class="card-body d-flex flex-row">
                        <div class="align-self-start mr-3">
                            <img
                                    src="{{ comment.discordUser.imageUrl }}"
                                    class="card-img rounded-circle z-depth-0 mr-1"
                                    alt="avatar icon"
                                    height="35"
                                    style="width: unset"
                            />
                        </div>
                        <div class="flex-grow-1">
                            <!-- Title -->
                            <h4 class="card-title">
                                {{ comment.discordUser.username|default(comment.userId) }}
                            </h4>

                            <!-- Text -->
                            <div class="card-text">
                                <span style="white-space: pre-wrap;" class="text-monospace font-small">{{ comment.createdAt }}</span><br/>
                                <span style="white-space: pre-wrap;" class="text-monospace">{{ comment.message }}</span>
                            </div>
                        </div>
                        <!-- Icons -->
                        {% if basic_data.loggedInUser.discordUser.id != modcase.userId or basic_data.loggedInUser.discordUser.id == comment.userId %}
                            <div class="d-flex flex-column">
                                <button class="btn btn-danger" id="delete-{{ comment.id }}" onclick="deleteComment(this)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                                <button class="btn btn-warning" id="update-{{ comment.id }}" onclick="updateComment(this)">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div id="newCommentParent">
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form form-group">
                        <textarea type="text" class="form-control md-textarea" id="newComment"></textarea>
                        <label for="newComment">Comment</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-md" onclick="sendComment()">
                Post comment
            </button>
        </div>
    </div>
{% endblock body %}

{% block scriptblock %}
<script>
    $(document).ready(function () {
        $("#newComment").on('keydown', function (e) {
            if (e.shiftKey) { return; }
            if (e.key === 'Enter' || e.keyCode === 13) {
                sendComment();
            }
        });
    });

    function updateComment(obj) {
        toastr.warning('This feature is not yet available', 'Updating comment failed');
    }

    function deleteComment(obj) {
        let elementId = $(obj).attr('id');
        let commentId = elementId.slice(elementId.lastIndexOf('-') + 1);

        $.ajax({
            type: "DELETE",
            url: "/api/v1/modcases/{{ modcase.guildId|default }}/{{ modcase.caseId|default }}/comments/" + commentId,
            success: function (data) {
                location.reload();
            },
            error: function (errMsg) {
                handleRequestError(errMsg, "Deleting comment failed")
            }
        });
    }

    function sendComment() {
        let msg = $('#newComment').val();

        if (!msg) {
            return;
        }

        let body = {
            'message': msg
        };

        $.ajax({
            type: "POST",
            url: "/api/v1/modcases/{{ modcase.guildId|default }}/{{ modcase.caseId|default }}/comments",
            data: JSON.stringify(body),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){ location.reload() },
            error: function(errMsg) {
                handleRequestError(errMsg, "Posting comment failed")
            }
        });
    }
</script>
{% endblock %}
