{% extends 'base.html.twig' %}
{% block body %}
{% include 'navbar.html.twig' %}

<style>
    .hiddencolumn {
        display: none;
    }
</style>

<div class="container">
    <div class="d-flex justify-content-between align-items-start">
        <h3><span class="badge badge-danger">New BanCase</span><strong> for User {{ userid }}</strong></h3>
    </div><br>


    {{ form_start(createBanForm) }}

    <div class="md-form">
        {{ form_label(createBanForm.userid) }}
        {{ form_widget(createBanForm.userid, {'attr': {'placeholder': userid }}) }}
    </div>
    <div class="md-form">
        {{ form_row(createBanForm.username) }}
    </div>
    <div class="md-form">
        {{ form_row(createBanForm.nickname) }}
    </div>
    <div class="md-form">
        {{ form_row(createBanForm.title) }}
    </div>
    <div class="md-form">
        {{ form_row(createBanForm.occuredAt) }}
        <small class="form-text text-muted">
            Please use the following time format for documenting date and time of the case: dd.MM.YYYY HH:mm
        </small>
    </div>
    <div class="md-form">
        {{ form_row(createBanForm.severity) }}
    </div>
    <div class="md-form">
        {{ form_row(createBanForm.label) }}
    </div>
    <div class="md-form">
        {{ form_row(createBanForm.duration) }}
    </div>
    <div class="md-form">
        {{ form_row(createBanForm.description) }}
        <small class="form-text text-muted">
            Please describe the case as detailed as possible. You can also add links for proofs in this field.
        </small>
    </div>

        {{ form_end(createBanForm) }}

</div>


{% endblock body %}

{% block scriptblock %}

<script>
    $(document).ready(function () {

        $('#dtBasicExample').DataTable();
    });
</script>
{% endblock %}
