{% extends 'base.html.twig' %}
{% block body %}
    {% include 'navbar.html.twig' %}

    <style>
        .hiddencolumn {
            display: none;
        }
    </style>

    <div class="container">
        <div class="d-flex justify-content-between align-items-start">
            <h3><span class="badge badge-secondary">New MuteCase</span><strong> for User {{ userid }}</strong></h3>
        </div><br>


        {{ form_start(createMuteForm) }}

        <div class="md-form">
            {{ form_label(createMuteForm.userid) }}
            {{ form_widget(createMuteForm.userid, {'attr': {'placeholder': userid }}) }}
        </div>
        <div class="md-form">
            {{ form_row(createMuteForm.username) }}
        </div>
        <div class="md-form">
            {{ form_row(createMuteForm.nickname) }}
        </div>
        <div class="md-form">
            {{ form_row(createMuteForm.title) }}
        </div>
        <div class="md-form">
            {{ form_row(createMuteForm.occuredAt) }}
            <small class="form-text text-muted">
                Please use the following time format for documenting date and time of the case: dd.MM.YYYY HH:mm
            </small>
        </div>
        <div class="md-form">
            {{ form_row(createMuteForm.severity) }}
        </div>
        <div class="md-form">
            {{ form_row(createMuteForm.label) }}
        </div>
        <div class="md-form">
            {{ form_row(createMuteForm.duration) }}
        </div>
        <div class="md-form">
            {{ form_row(createMuteForm.description) }}
            <small class="form-text text-muted">
                Please describe the case as detailed as possible. You can also add links for proofs in this field.
            </small>
        </div>

        {{ form_end(createMuteForm) }}

    </div>


{% endblock body %}

{% block scriptblock %}

    <script>
        $(document).ready(function () {

            $('#dtBasicExample').DataTable();
        });
    </script>
{% endblock %}
