{% extends 'base.html.twig' %}
{% block body %}
    {% include 'navbar.html.twig' %}

    <style>
        .hiddencolumn {
            display: none;
        }
    </style>

    <div class="container">
        <div class="d-flex justify-content-between align-items-start">
            <h3><span class="badge badge-success">New NoteCase</span><strong> for User {{ userid }}</strong></h3>
        </div><br>


        {{ form_start(createNoteForm) }}

        <div class="md-form">
            {{ form_label(createNoteForm.userid) }}
            {{ form_widget(createNoteForm.userid, {'attr': {'placeholder': userid }}) }}
        </div>
        <div class="md-form">
            {{ form_row(createNoteForm.username) }}
        </div>
        <div class="md-form">
            {{ form_row(createNoteForm.nickname) }}
        </div>
        <div class="md-form">
            {{ form_row(createNoteForm.title) }}
        </div>
        <div class="md-form">
            {{ form_row(createNoteForm.occuredAt) }}
            <small class="form-text text-muted">
                Please use the following time format for documenting date and time of the case: dd.MM.YYYY HH:mm
            </small>
        </div>
        <div class="md-form">
            {{ form_row(createNoteForm.severity) }}
        </div>
        <div class="md-form">
            {{ form_row(createNoteForm.label) }}
        </div>

        <div class="md-form">
            {{ form_row(createNoteForm.description) }}
            <small class="form-text text-muted">
                Please describe the case as detailed as possible. You can also add links for proofs in this field.
            </small>
        </div>

        {{ form_end(createNoteForm) }}

    </div>


{% endblock body %}

{% block scriptblock %}

    <script>
        $(document).ready(function () {

            $('#dtBasicExample').DataTable();
        });
    </script>
{% endblock %}
