<i class="fas fa-filter fa-2x mod-icon"></i>
<span class="mod-title">Filter</span>
<div class="mod-body mt-3">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="{{ uniquelabel }}-exclude-team" checked disabled>
        <label class="custom-control-label" for="{{ uniquelabel }}-exclude-team" title="AutoModeration will always exclude moderators.">Exclude moderators?</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="{{ uniquelabel }}-exclude-roles-label" data-target="#{{ uniquelabel }}-exclude-roles-container" onclick="handleCollapse(this)">
        <label class="custom-control-label" for="{{ uniquelabel }}-exclude-roles-label">Exclude roles?</label>
    </div>
    <div id="{{ uniquelabel }}-exclude-roles-container" class="collapse">
        <ul id="{{ uniquelabel }}-exclude-roles-list" class="list-group list-group-horizontal-lg d-flex flex-wrap excluded-roles"
            style="list-style: none;">

        </ul>
        <div class="d-flex flex-row">
            <select class="exclude-roles browser-default custom-select m-3 w-75" id="{{ uniquelabel }}-exclude-roles">
                {% for role in guild.roles|slice(1)|default([]) %}
                    <option value="{{ role.id }}" data-color="{{ role.color }}" style="color: {{ role.color }}">{{ role.name }}</option>
                {% endfor %}
            </select>
            <i class="fas fa-plus ml-1 mod-exclude-add" data-source="#{{ uniquelabel }}-exclude-roles"
               data-target="#{{ uniquelabel }}-exclude-roles-list" onclick="excludeRole(this)"></i>
        </div>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="{{ uniquelabel }}-exclude-channels-label" data-target="#{{ uniquelabel }}-exclude-channels-container" onclick="handleCollapse(this)">
        <label class="custom-control-label" for="{{ uniquelabel }}-exclude-channels-label">Exclude channels?</label>
    </div>
    <div id="{{ uniquelabel }}-exclude-channels-container" class="collapse">
        <ul id="{{ uniquelabel }}-exclude-channels-list" class="list-group list-group-horizontal-lg d-flex flex-wrap excluded-roles"
            style="list-style: none;">

        </ul>
        <div class="d-flex flex-row">
            <select class="exclude-roles browser-default custom-select m-3 w-75" id="{{ uniquelabel }}-exclude-channels">
                {% for channel in guild.channels|default([]) %}
                    {% if channel.type == 0 %}
                        <option value="{{ channel.id }}">{{ channel.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <i class="fas fa-plus ml-1 mod-exclude-add" data-source="#{{ uniquelabel }}-exclude-channels"
               data-target="#{{ uniquelabel }}-exclude-channels-list" onclick="excludeChannel(this)"></i>
        </div>
    </div>
</div>
