{% extends 'base.html.twig' %}
{% block body %}
    {% include 'navbar.html.twig' %}

    <style>
        .hiddencolumn {
            display: none;
        }
    </style>

    <div class="container">
        {% if guild|default %}
            <!-- Guild -->
            <div class="d-flex align-items-lg-center mb-3">
                <img
                        src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png"
                        class="rounded-circle z-depth-0 mr-1"
                        alt="avatar image"
                        height="35"
                />
                <span class="font-weight-bold">
                    Guild: {{ guild.name }}
                    <span class="text-black-50">
                        ({{ guild.id }})
                    </span>
                </span>
            </div>
        {% endif %}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="modcase-tab" data-toggle="tab" href="#modcases" role="tab" aria-controls="modcases"
                   aria-selected="true">Modcases ({{ modcases|length|default(0) }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="punishment-tab" data-toggle="tab" href="#punishments" role="tab" aria-controls="punishments"
                   aria-selected="false">Punishments ({{ activePunishments|length|default(0) }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="moderation-tab" data-toggle="tab" href="#moderations" role="tab" aria-controls="moderations"
                   aria-selected="false">Automoderations ({{ autoModerations.count|default(0) }})</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="modcases" role="tabpanel" aria-labelledby="modcase-tab">
                {% include 'modcase/overview/cases.html.twig' %}
            </div>
            <div class="tab-pane fade" id="punishments" role="tabpanel" aria-labelledby="punishment-tab">
                {% include 'modcase/overview/punishments.html.twig' %}
            </div>
            <div class="tab-pane fade" id="moderations" role="tabpanel" aria-labelledby="moderation-tab">
                {% include 'modcase/overview/moderations.html.twig' %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block scriptblock %}
    <script>
        $(document).ready(function () {
            $('#tableCases').DataTable({
                pageLength: 100,
                order: [0, "desc"]
            });
            $('#tablePunishments').DataTable({
                pageLength: 100,
                order: [0, "desc"]
            });
        });
    </script>
{% endblock %}
