{% extends 'base.html.twig' %}
{% block body %}
    {% include 'navbar.html.twig' %}

    <style>
        .hiddencolumn {
            display: none;
        }
    </style>

    <div class="container">
        {% if modcase|default %}
            <div class="d-flex justify-content-start align-items-start flex-wrap">

                <!-- Title + Guild -->
                <div class="flex-grow-1">
                    <h4 class="font-weight-bold"><span class="display-4">#{{ modcase.id }}</span> {{ modcase.title }}
                    </h4>

                    <div class="d-flex align-items-lg-center">
                        {% if guild|default %}
                        <img
                                src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png"
                                class="rounded-circle z-depth-0 mr-1"
                                alt="avatar image"
                                height="35"
                        />
                        <span class="font-weight-bold">Guild: {{ guild.name }}
                            {% endif %}
                        <span class="text-black-50">({{ modcase.guildId }})</span></span>
                    </div>
                </div>

                <!-- User icon -->
                {% if user|default %}
                    <div class="align-self-end mr-4">
                        <img
                                src="https://cdn.discordapp.com/avatars/{{ user.id }}/{{ user.avatar }}.png"
                                class="rounded-circle z-depth-0 mr-1"
                                alt="avatar image"
                        />
                    </div>
                {% endif %}

                <!-- Edit and delete buttons -->
                <div class="d-flex flex-column align-self-end">
                    <a type="button" class="btn btn-primary"
                       href="/api/v1/modcases/{{ modcase.guildId }}/{{ modcase.id }}" target="_blank">See raw case
                        data</a>
                    <a type="button" class="btn btn-warning" href="#">Edit this case</a>
                    <a type="button" class="btn btn-danger" href="#">Delete this case</a>
                </div>

            </div>
            <br>

            <!-- Labels -->
            <div class="row mb-1 ml-2">
                <div class="d-flex justify-content-between">
                    {% for label in modcase.labels|default([]) %}
                        <a href="/modcases/{{ modcase.guildId }}?labels={{ label }}">
                            <h3>
                                <span type="button" class="badge badge-pill badge-info mr-1">{{ label }}</span>
                            </h3>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <!-- Table -->
            <div class="row">

                <!-- user info -->
                <div class="col-xl-6 col-lg-6 col-md-6 sm-col-12">
                    <h4><strong>User information</strong></h4>

                    <table class="table">
                        <tbody>
                        <tr>
                            <th class="font-weight-bold">Punishment</th>
                            <td>
                                <h3>
                                    <span class="badge badge-danger">{{ modcase.punishment }}</span>
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <th class="font-weight-bold">UserID</th>
                            <td>
                                <a href="/modcases/{{ modcase.guildId }}?userid={{ modcase.userId }}">
                                    {{ modcase.userId }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th class="font-weight-bold">Username</th>
                            <td class="font-weight-bold">
                                <a href="/modcases/{{ modcase.guildId }}?userid={{ modcase.userId }}">
                                    {{ modcase.username }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th class="font-weight-bold">Nickname</th>
                            <td>
                                <a href="/modcases/{{ modcase.guildId }}?userid={{ modcase.userId }}">
                                    {% if modcase.nickname != '' %}
                                        {{ modcase.nickname }}
                                    {% else %}
                                        <span class="text-danger font-weight-bold">Not set.</span>
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- case info -->
                <div class="col-xl-6 col-lg-6 col-md-6 sm-col-12">
                    <h4><strong>Case information</strong></h4>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th class="font-weight-bold">Title</th>
                            <td class="font-weight-bold">{{ modcase.title }}</td>
                        </tr>
                        <tr>
                            <th class="font-weight-bold">Severity</th>
                            <td>{{ modcase.severity }}</td>

                        </tr>
                        <tr>
                            <th class="font-weight-bold">Date & time</th>
                            <td>{{ modcase.createdAt }}</td>
                        </tr>
                        <tr>
                            <th class="font-weight-bold">Moderator</th>
                            <td class="font-weight-bold">
                                <!-- mod info -->
                                <a href="/modcases/{{ modcase.guildId }}?modid={{ modcase.modId }}">
                                    {% if moderator|default %}
                                        <img
                                                src="https://cdn.discordapp.com/avatars/{{ moderator.id }}/{{ moderator.avatar }}.png"
                                                class="rounded-circle z-depth-0 mr-1"
                                                alt="avatar image"
                                                height="35"
                                        /> {{ moderator.username }}
                                    {% endif %}
                                    <span class="text-black-50">({{ modcase.modId }})</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th class="font-weight-bold">Last Edit by Moderator</th>
                            <td class="font-weight-bold">
                                <!-- last mod info -->
                                <a href="/modcases/{{ modcase.guildId }}?modid={{ lastModerator.id }}">
                                    {% if lastModerator|default %}
                                        <img
                                                src="https://cdn.discordapp.com/avatars/{{ lastModerator.id }}/{{ lastModerator.avatar }}.png"
                                                class="rounded-circle z-depth-0 mr-1"
                                                alt="avatar image"
                                                height="35"
                                        /> {{ lastModerator.username }}
                                    {% endif %}
                                    <span class="text-black-50">({{ modcase.modId }})</span><br/> {{ modcase.lastEditedAt }}
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            </div>

            <!-- Description -->
            <div>
                <h4 class="font-weight-bold">Full case description</h4>
                <hr/>
                <span style="white-space: pre-wrap;" class="text-monospace">{{ modcase.description }}</span>
            </div>

        {% endif %}

    </div>
{% endblock body %}

{% block scriptblock %}

    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
        });
    </script>
{% endblock %}
