{% extends 'base.html.twig' %}
{% block body %}
    {% include 'navbar.html.twig' %}

    <style>
        .hiddencolumn {
            display: none;
        }
         #files-viewer > div {
             margin: 8px;
             width: 20rem;
         }
        #files-viewer .card-img-top {
            width: 100%;
            height: 10vw;
            object-fit: cover;
        }
    </style>

    <div class="container">
        {% if modcase|default %}
            {% set severities = {
                0: 'Low',
                1: 'Normal',
                2: 'High',
                3: 'Epic'
            } %}
        <div class="modal fade" id="popupDeleteCase" tabindex="-1" role="dialog" aria-labelledby="popupDeleteCaseLabel"
             aria-hidden="true">

            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="popupDeleteCaseLabel">Delete this case?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="deleteCaseForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="deleteCaseSendNotification">
                                        <label class="custom-control-label" for="deleteCaseSendNotification">Send public notification?</label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger btn-md" onclick="deleteCase(this)">
                                DELETE CASE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="modcase-tab" data-toggle="tab" href="#modcase" role="tab" aria-controls="modcase"
                   aria-selected="true">Modcase</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments"
                   aria-selected="false">Comments ({{ modcase.comments|length }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="files-tab" data-toggle="tab" href="#files" role="tab" aria-controls="files"
                   aria-selected="true">Files ({{ files.names|default([])|length }})</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="modcase" role="tabpanel" aria-labelledby="modcase-tab">
                <div class="d-flex justify-content-start align-items-start flex-wrap mt-2">

                    <!-- Title + Guild -->
                    <div class="flex-grow-1">
                        <h4 class="font-weight-bold"><span class="display-4">#{{ modcase.caseId }}</span> {{ modcase.title }}
                        </h4>

                        <div class="d-flex align-items-lg-center">
                            {% if guild|default %}
                            <img
                                    src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png"
                                    class="rounded-circle z-depth-0 mr-1"
                                    alt="avatar image"
                                    height="35"
                            />
                            <span class="font-weight-bold">Guild: {{ guild.name }}
                                {% endif %}
                        <span class="text-black-50">({{ modcase.guildId }})</span></span>
                        </div>
                    </div>

                    <!-- User icon -->
                    {% if user|default %}
                        <div class="align-self-end mr-4">
                            <img
                                    src="{{ user.imageUrl }}"
                                    class="rounded-circle z-depth-0 mr-1"
                                    alt="avatar image"
                                    height="128"
                            />
                        </div>
                    {% endif %}

                    <!-- Edit and delete buttons -->
                    <div class="d-flex flex-column align-self-end">
                        <a type="button" class="btn btn-primary"
                           href="/api/v1/modcases/{{ modcase.guildId }}/{{ modcase.caseId }}" target="_blank">See raw case
                            data</a>
                        {% if modcase.guildId in basic_data.loggedInUser.modGuilds or basic_data.loggedInUser.isAdmin %}
                            <a type="button" class="btn btn-warning" href="/modcases/{{ modcase.guildId }}/{{ modcase.caseId }}/edit">Edit this case</a>
                            <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#popupDeleteCase" href="#">Delete this case</a>
                        {% endif %}
                    </div>

                </div>
                <br/>
                <!-- Labels -->
                <div class="row mb-1 ml-2">
                    <div class="d-flex justify-content-between">
                        {% for label in modcase.labels|default([]) %}
                            <a href="/modcases/{{ modcase.guildId }}?label={{ label }}">
                                <h3>
                                    <span type="button" class="badge badge-pill badge-info mr-1">{{ label }}</span>
                                </h3>
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <!-- Table -->
                <div class="row">

                    <!-- user info -->
                    <div class="col-xl-6 col-lg-6 col-md-6 sm-col-12">
                        <h4 class="font-weight-bold">User information</h4>

                        <table class="table">
                            <tbody>
                            <tr>
                                <th class="font-weight-bold">Punishment</th>
                                <td>
                                    <h3>
                                        <span class="badge badge-danger">{{ modcase.punishment }}</span>
                                    </h3>
                                </td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold">UserID</th>
                                <td>
                                    <a href="/modcases/{{ modcase.guildId }}?userId={{ modcase.userId }}">
                                        {{ modcase.userId }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold">Username</th>
                                <td class="font-weight-bold">
                                    <a href="/modcases/{{ modcase.guildId }}?userId={{ modcase.userId }}">
                                        {{ modcase.username }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold">Nickname</th>
                                <td>
                                    <a href="/modcases/{{ modcase.guildId }}?userId={{ modcase.userId }}">
                                        {% if modcase.nickname != '' %}
                                            {{ modcase.nickname }}
                                        {% else %}
                                            <span class="text-danger font-weight-bold">Not set.</span>
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- case info -->
                    <div class="col-xl-6 col-lg-6 col-md-6 sm-col-12">
                        <h4 class="font-weight-bold">Case information</h4>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th class="font-weight-bold">Severity</th>
                                <td>
                                    {{ severities[modcase.severity]|default(modcase.severity) }}
                                </td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold">Created at</th>
                                <td>{{ modcase.createdAt | date('d.m.Y H:i:s') }}</td>
                            </tr>
                            {% if modcase.occuredAt != modcase.createdAt %}
                                <tr>
                                    <th class="font-weight-bold">Occured at</th>
                                    <td>{{ modcase.occuredAt | date('d.m.Y H:i:s') }}</td>
                                </tr>
                            {% endif %}
                            {% if modcase.lastEditedAt != modcase.createdAt %}
                                <tr>
                                    <th class="font-weight-bold">Last edited at</th>
                                    <td>{{ modcase.lastEditedAt | date('d.m.Y H:i:s') }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th class="font-weight-bold">Moderator</th>
                                <td class="font-weight-bold">
                                    <!-- mod info -->
                                    <a href="/modcases/{{ modcase.guildId }}?modId={{ modcase.modId }}">
                                        {% if moderator|default %}
                                            <img
                                                    src="{{ moderator.imageUrl }}"
                                                    class="rounded-circle z-depth-0 mr-1"
                                                    alt="avatar image"
                                                    height="35"
                                            /> {{ moderator.username }}
                                        {% endif %}
                                        <span class="text-black-50">({{ modcase.modId }})</span>
                                    </a>
                                </td>
                            </tr>
                            {% if modcase.lastEditedByModId != modcase.modId %}
                                <tr>
                                    <th class="font-weight-bold">Last Edit by Moderator</th>
                                    <td class="font-weight-bold">
                                        <!-- last mod info -->
                                        <a href="/modcases/{{ modcase.guildId }}?modId={{ lastModerator.id }}">
                                            {% if lastModerator|default %}
                                                <img
                                                        src="{{ lastModerator.imageUrl }}"
                                                        class="rounded-circle z-depth-0 mr-1"
                                                        alt="avatar image"
                                                        height="35"
                                                /> {{ lastModerator.username }}
                                            {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if modcase.punishmentType != 0 and modcase.punishmentType != 2 %}
                                <tr>
                                    <th class="font-weight-bold">Punished until</th>
                                    <td>
                                        {% if modcase.punishedUntil is null %}
                                            Forever
                                        {% else %}
                                            {{ modcase.punishedUntil | date('d.m.Y H:i:s') }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if not modcase.punishmentActive and modcase.punishmentType != 0 and modcase.punishmentType != 2 %}
                                <tr>
                                    <th class="font-weight-bold">Punishment</th>
                                    <td>Punishment inactive</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <h4 class="font-weight-bold">Full case description</h4>
                    <hr/>
                    <span style="white-space: pre-wrap;" class="text-monospace">{{ modcase.description }}</span>
                </div>
            </div>
            <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                <div class="d-flex flex-column flex-wrap justify-content-between mt-2">
                    {% if modcase.comments|default %}
                        {% for comment in modcase.comments|default([]) %}
                            <div class="card mb-3">
                                <div class="card-body d-flex flex-row">
                                    <div class="align-self-start mr-3">
                                        <img
                                                src="{{ comment.discordUser.imageUrl }}"
                                                class="card-img rounded-circle z-depth-0 mr-1"
                                                alt="avatar icon"
                                                height="35"
                                                style="width: unset"
                                        />
                                    </div>
                                    <div class="flex-grow-1">
                                        <!-- Title -->
                                        <h4 class="card-title">
                                            {{ comment.discordUser.username|default(comment.userId) }}
                                        </h4>

                                        <!-- Text -->
                                        <div class="card-text">
                                            <span style="white-space: pre-wrap;" class="text-monospace font-small">{{ comment.createdAt }}</span><br/>
                                            <span style="white-space: pre-wrap;" class="text-monospace">{{ comment.message }}</span>
                                        </div>
                                    </div>
                                    <!-- Icons -->
                                    {% if basic_data.loggedInUser.discordUser.id != modcase.userId or basic_data.loggedInUser.discordUser.id == comment.userId %}
                                        <div class="d-flex flex-column">
                                            <button class="btn btn-danger" id="delete-{{ comment.id }}" onclick="deleteComment(this)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                            <button class="btn btn-warning" id="update-{{ comment.id }}" onclick="updateComment(this)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div id="newCommentParent">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form form-group">
                                    <textarea type="text" class="form-control md-textarea" id="newComment"></textarea>
                                    <label for="newComment">Comment</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-md" onclick="sendComment()">
                            Post comment
                        </button>
                    </div>
                </div>

                <div class="mt-3"></div>
            </div>
            <div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab">
                {% if modcase.guildId in basic_data.loggedInUser.modGuilds or basic_data.loggedInUser.isAdmin %}
                    <div class="mt-3 d-flex flex-row align-items-baseline" id="file-upload-container">
                        <button class="btn btn-primary flex-shrink-0" onclick="sendFile()">
                            Upload
                        </button>
                        <div class="input-group flex-shrink-1">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="file-input"
                                       aria-describedby="file-input-label">
                                <label class="custom-file-label" for="file-input">Choose file</label>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if files.names|default([]) %}
                    <div class="d-flex flex-wrap justify-content-center" id="files-viewer">
                        {% for file in files.names|default([]) %}
                            <div class="card flex-shrink-1">
                                {% if file|split('.')|last|lower in ['jpg', 'png', 'jpeg', 'gif', 'ico', 'tif', 'tiff'] %}
                                <div class="view overlay">
                                    <img class="card-img-top" src="/api/v1/guilds/{{ modcase.guildId }}/modcases/{{ modcase.caseId }}/files/{{ file }}"
                                         alt="Card image cap">
                                </div>
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ file|split('_', 3)|last }}</h5>
                                    <div class="d-flex flex-row flex-wrap justify-content-center">
                                        <a href="/api/v1/guilds/{{ modcase.guildId }}/modcases/{{ modcase.caseId }}/files/{{ file }}"
                                           class="btn btn-primary flex-shrink-1" target="_blank">
                                            View
                                        </a>
                                        {% if modcase.guildId in basic_data.loggedInUser.modGuilds or basic_data.loggedInUser.isAdmin %}
                                            <button class="btn btn-danger" id="filedelete-{{ file }}" onclick="deleteFile(this)">
                                                Delete
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="card rounded mt-2">
                        <div class="card-body">
                            <h4 class="card-title"><a>No files uploaded yet.</a></h4>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false" id="notification" style="min-width:100%">
            <div class="toast-header">
                <svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect fill="#007aff" width="100%" height="100%" id="notificationColor" /></svg>
                <strong class="mr-auto" id="notificationTitle">Post comment</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body" id="notificationBody">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
{% endblock body %}

{% block scriptblock %}

    <script>
        $(document).ready(function () {
            $("#newComment").on('keydown', function (e) {
                if (e.shiftKey) { return; }
                if (e.key === 'Enter' || e.keyCode === 13) {
                    sendComment();
                }
            });
        });

        function deleteCase(obj) {
            let sendNotification = $('#deleteCaseSendNotification').is(":checked").toString();
            $.ajax({
                type: "DELETE",
                url: "/api/v1/modcases/{{ modcase.guildId|default }}/{{ modcase.caseId|default }}?sendNotification=" + sendNotification,
                success: function (data) {
                    location.href = '/modcases/{{ modcase.guildId|default }}';
                },
                error: function (errMsg) {
                    console.log(errMsg);
                    $('#notification').insertAfter($('#deleteCaseForm'));
                    $('#notificationColor').attr('fill', '#ac000f');
                    $('#notificationTitle').text('Deleting case failed');
                    $('#notificationBody').text(errMsg.status + ': ' + errMsg.responseText);
                    $('#notification').toast('show');
                }
            });
        }

        function updateComment(obj) {
            $('#notification').insertAfter($(obj).closest('.card'));
            $('#notificationColor').attr('fill', '#f56a07');
            $('#notificationTitle').text('Updating comment failed');
            $('#notificationBody').text('This feature is not yet available.');
            $('#notification').toast('show');
        }

        function deleteFile(obj) {
            let elementId = $(obj).attr('id');
            let fileName = elementId.slice(elementId.indexOf('-') + 1);

            $.ajax({
                type: "DELETE",
                url: "/api/v1/guilds/{{ modcase.guildId|default }}/modcases/{{ modcase.caseId|default }}/files/" + fileName,
                success: function (data) {
                    location.reload();
                },
                error: function (errMsg) {
                    console.log(errMsg);
                    $('#notification').insertAfter($(obj).closest('.card'));
                    $('#notificationColor').attr('fill', '#ac000f');
                    $('#notificationTitle').text('Deleting file failed');
                    $('#notificationBody').text(errMsg.status + ': ' + errMsg.responseText);
                    $('#notification').toast('show');
                }
            });
        }

        function deleteComment(obj) {
            let elementId = $(obj).attr('id');
            let commentId = elementId.slice(elementId.lastIndexOf('-') + 1);

            $.ajax({
                type: "DELETE",
                url: "/api/v1/modcases/{{ modcase.guildId|default }}/{{ modcase.caseId|default }}/comments/" + commentId,
                success: function (data) {
                    location.reload();
                },
                error: function (errMsg) {
                    console.log(errMsg);
                    $('#notification').insertAfter($(obj).closest('.card'));
                    $('#notificationColor').attr('fill', '#ac000f');
                    $('#notificationTitle').text('Deleting comment failed');
                    $('#notificationBody').text(errMsg.status + ': ' + errMsg.responseText);
                    $('#notification').toast('show');
                }
            });
        }

        function sendFile() {
            let files = ($('#file-input')[0].files);
            if (files.length === 0) {
                return;
            }
            let formData = new FormData();
            console.log(files);
            formData.append('File', files[0]);

            console.log(formData)

            $.ajax({
                type: "POST",
                url: "/api/v1/guilds/{{ modcase.guildId|default }}/modcases/{{ modcase.caseId|default }}/files",
                data: formData,
                contentType: false,
                processData: false,
                success: function(data){ location.reload() },
                error: function(errMsg) {
                    console.log(errMsg);
                    $('#notification').insertAfter($('#file-upload-container'));
                    $('#notificationColor').attr('fill', '#ac000f');
                    $('#notificationTitle').text('Uploading file failed');
                    $('#notificationBody').text(errMsg.status + ': ' + errMsg.responseText);
                    $('#notification').toast('show');
                }
            });
        }

        function sendComment() {
            let msg = $('#newComment').val();

            if (!msg) {
                return;
            }

            let body = {
                'message': msg
            };

            $.ajax({
                type: "POST",
                url: "/api/v1/modcases/{{ modcase.guildId|default }}/{{ modcase.caseId|default }}/comments",
                data: JSON.stringify(body),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data){ location.reload() },
                error: function(errMsg) {
                    console.log(errMsg);
                    $('#notification').insertAfter($('#newCommentParent'));
                    $('#notificationColor').attr('fill', '#ac000f');
                    $('#notificationTitle').text('Posting comment failed');
                    $('#notificationBody').text(errMsg.status + ': ' + errMsg.responseText);
                    $('#notification').toast('show');
                }
            });
        }
    </script>
{% endblock %}
