<nav class="mb-1 navbar navbar-expand-lg navbar-dark" style="background-color: #5E5B52;">
    <div class="container">
        <a class="navbar-brand" href="/">ModTool</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent-3" style="">
            <ul class="navbar-nav mr-auto">
                {% if guildid|default %}
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="/">Guilds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="/modcases/{{ guildid }}">ModCases</a>
                    </li>
                    {% if guildid in logged_in_user.modGuilds or logged_in_user.isAdmin %}
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="/modcases/{{ guildid }}/new">New ModCase</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="/">Home</a>
                    </li>
                {% endif %}
            </ul>
            {% if logged_in_user|default %}
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img
                                    src="https://cdn.discordapp.com/avatars/{{ logged_in_user.discordUser.id }}/{{ logged_in_user.discordUser.avatar }}.png"
                                    class="rounded-circle z-depth-0 mr-1"
                                    alt="avatar image"
                                    height="30"
                            />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default"
                             aria-labelledby="navbarDropdownMenuLink">
                            <span class="dropdown-item waves-effect waves-light">
                                Logged in as <span
                                        class="text-danger">{{ logged_in_user.discordUser.username }}#{{ logged_in_user.discordUser.discriminator }}</span>
                            </span>
                            {% if logged_in_user.isAdmin %}
                                <span class="dropdown-item waves-effect waves-light text-primary">
                                Congratulations, you are a site admin!
                            </span>
                            {% endif %}
                            <span class="dropdown-item waves-effect waves-light" onclick="window.location.href='/api/v1/logout';">
                               Logout
                            </span>
                        </div>
                    </li>
                </ul>
            {% endif %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-elegant px-3" data-toggle="modal" data-target="#popupPatchNotes">
                <i class="fas fa-code-branch" aria-hidden="true"></i>
            </button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-elegant px-3" data-toggle="modal" data-target="#popupUserSettings">
                <i class="fas fa-sliders-h" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</nav>
<div class="modal fade" id="popupPatchNotes" tabindex="-1" role="dialog" aria-labelledby="popupPatchNotesLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="popupPatchNotesLabel">Patch Notes</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for note in navdata.patchnotes|default([])|slice(0, 3) %}
                    <div class="card mb-3">
                        <div class="card-body">
                            {% if note.title|default %}
                                <h4 class="card-title"><a>{{ note.title|raw|markdown_to_html  }}</a></h4>
                            {% endif %}
                            <p class="card-text">{{ note.body|raw|markdown_to_html }}</p>
                        </div>
                    </div>
                {% endfor %}
                {% if not navdata.patchnotes|default %}
                    <p class="text-danger">Failed to load Patch Notes.</p>
                {% elseif navdata.patchnotes|length > 3 %}
                    <a href="https://github.com/zaanposni/discord-masz/releases" target="_blank" class="text-success">See more patch notes here.</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popupUserSettings" tabindex="-1" role="dialog" aria-labelledby="popupUserSettingsLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="popupUserSettingsLabel">Settings</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Coming soon...
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    {% if error|default %}
        <div class="card mt-3 text-danger background-blink" id="fade-it">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">An Error occurred</h5>
                {% for message in error.messages %}
                    <span class="card-text" style="white-space: pre-wrap;">{{ message }}</span><br/>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>

<br>
